attrs==19.3.0
bravado==10.4.1
bravado-core==5.17.0
bybit==0.2.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==3.0
decorator==4.4.2
future==0.18.2
idna==2.10
importlib-metadata==1.7.0
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
monotonic==1.5
msgpack==1.0.0
msgpack-python==0.5.6
pkg-resources==0.0.0
pycparser==2.20
pyrsistent==0.16.0
python-dateutil==2.8.1
python-telegram-bot==12.7
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rfc3987==1.3.8
simplejson==3.17.2
six==1.15.0
strict-rfc3339==0.7
swagger-spec-validator==2.7.3
telegram==0.0.1
tornado==6.0.4
typing-extensions==3.7.4.2
urllib3==1.24.2
webcolors==1.11.1
zipp==3.1.0
